<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Authenticate</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header>
      <div class="logo-container">
        <img
          src="https://user-images.githubusercontent.com/75155230/162634488-a86df851-81ab-41d4-9c15-d1155683a935.png"
          alt="TrackMine Logo"
          class="logo"
        />
        <h2 class="myheader">TrackMine</h2>
      </div>
    </header>

    <div class="my-container">
      <div>
        <form
          id="register"
          action="/signup"
          method="POST"
          style="display: none"
        >
          <h3 class="pagetitle">Register</h3>
          <label>Name</label>
          <input
            class="form-control"
            name="name"
            style="margin-bottom: 30px"
            placeholder="Enter Your Name"
          />

          <label>Email</label>
          <input
            class="form-control"
            name="username"
            style="margin-bottom: 30px"
            placeholder="Enter Email Address"
          />

          <label>Password</label>
          <input
            class="form-control"
            name="password"
            type="password"
            style="margin-bottom: 30px"
            placeholder="Enter Strong Password"
          />

          <label>Confirm Password</label>
          <input
            class="form-control"
            type="password"
            style="margin-bottom: 30px"
            placeholder="Retype your password"
          />

          <button type="submit" value="Register">Register</button>
          <p style="margin-top: 20px">
            Already have an account?
            <span
              class="link"
              onclick="$('#register').hide(); $('#login').show();"
            >
              Login here
            </span>
          </p>
        </form>
      </div>

      <form id="login" action="/signin" method="POST">
        <h3 class="pagetitle">Login</h3>
        <label>Email</label>
        <input
          class="form-control"
          name="username"
          style="margin-bottom: 30px"
          placeholder="Enter Email Address"
        />

        <label>Password</label>
        <input
          class="form-control"
          name="password"
          type="password"
          style="margin-bottom: 30px"
          placeholder="Enter Strong Password"
        />

        <button type="submit">Login</button>
        <p style="margin-top: 20px">
          Don't have an account?
          <span
            class="link"
            onclick="$('#login').hide(); $('#register').show();"
          >
            Register here
          </span>
        </p>
      </form>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    language="javascript"
    type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"
  ></script>
  <script type="text/javascript" language="javascript" src="index.js"></script>
  <script src="/contract.js"></script>
</html>
