<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header class="navbar">
      <div class="logo-container">
        <img
          src="https://user-images.githubusercontent.com/75155230/162634488-a86df851-81ab-41d4-9c15-d1155683a935.png"
          alt="TrackMine Logo"
          class="logo"
        />
        <h2 class="myheader">TrackMine</h2>
        <nav>
          <ul>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="dashboard-container">
      <span style="display: none"
        ><b>Username: </b
        ><font id="username" size="3"><%=currentUser.username%></font></span
      >
      <span
        ><b>Name: </b
        ><font id="name" size="3"><%=currentUser.name%></font></span
      >
      <span
        ><b>Role: </b
        ><font id="usertype" size="3"><%=currentUser.type%></font></span
      >
      <span><b>Address: </b><font id="account" size="3"></font></span>

      <hr />

      <div class="actions-list">
        <button style="width: 200px" onclick="showAllTenders();">
          All Requests Raised
        </button>

        <% if(currentUser.type !== "Regulatory Authority"){ %>
        <button style="width: 225px" onclick="showMyBids();">
          Requests Accepted by Me
        </button>
        <button
          style="
            width: 225px;
            background: #fff;
            color: #007bff;
            border: 1px solid #007bff;
          "
          onclick="showMyTenders();"
        >
          My Requests Raised
        </button>
        <button
          style="
            width: 300px;
            background: #fff;
            color: #007bff;
            border: 1px solid #007bff;
          "
          onclick="showAllBids();"
        >
          My Requests Accepted / Approved
        </button>
        <button style="width: 225px" onclick="uploadTenders();">
          Initiate New Request
        </button>

        <% } %>
      </div>
    </div>
    <div
      id="myTendersList"
      style="margin-top: 20px; display: none"
      class="dashboard-container"
    >
      <h3 class="pagetitle" style="text-align: center; width: 100%">
        My Requests Raised
      </h3>
      <table id="mytenders">
        <tr style="text-align: center">
          <th>Id</th>
          <th>Request Title</th>
          <th>Request Description</th>
          <th>Quantity</th>
          <th>Coal Quality</th>
          <th>Transport Mode</th>
          <th>Payment Alloted</th>
          <th>Status</th>
        </tr>
      </table>
    </div>

    <div
      id="uploadTender"
      style="margin-top: 20px; display: none"
      class="container card"
    >
      <div class="my-container">
        <h3 class="pagetitle">Initiate New Request</h3>

        <form onSubmit="App.submitTender(); return false">
          <label>Request Title</label>
          <input
            class="form-control"
            id="itemName"
            style="margin-bottom: 30px"
          />

          <label>Request Description</label>
          <input
            class="form-control"
            id="itemDesc"
            style="margin-bottom: 30px"
          />

          <label>Quantity</label>
          <input
            class="form-control"
            id="itemQuantity"
            style="margin-bottom: 30px"
          />

          <label>Coal Quality Required</label>
          <input
            class="form-control"
            id="coalQuality"
            style="margin-bottom: 30px"
          />

          <label>Mode of Transport</label>
          <input
            class="form-control"
            id="transportMode"
            style="margin-bottom: 30px"
          />

          <label>Payment Alloted</label>
          <input
            class="form-control"
            id="itemBudget"
            type="number"
            style="margin-bottom: 30px"
          />

          <span id="content">
            <button
              type="submit"
              value="Initiate Request"
              style="margin-bottom: 20px; width: 180px"
            >
              Initiate Request
            </button>
          </span>
        </form>
      </div>

      <div
        id="loading"
        style="display: none; margin-bottom: 5px; margin-top: -30px"
      ></div>
    </div>

    <div
      id="bidsList"
      style="margin-top: 20px; display: none"
      class="dashboard-container"
    >
      <h3 class="pagetitle" style="text-align: center; width: 100%">
        My Requests Accepted / Approved
      </h3>
      <table id="bids" class="table table-hover">
        <tr style="text-align: center">
          <th>Id</th>
          <th>Request Title</th>
          <th>Payment Alloted</th>
          <th>Amount Accepted</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </table>
    </div>

    <div
      id="listAllTenders"
      style="margin-top: 20px"
      class="dashboard-container"
    >
      <h3 class="pagetitle" style="text-align: center; width: 100%">
        All Requests Raised
      </h3>
      <table id="allTenders" class="table table-hover">
        <tr style="text-align: center">
          <th>Id</th>
          <th>Request Title</th>
          <th>Request Description</th>
          <th>Quantity</th>
          <th>Coal Quality</th>
          <th>Transport Mode</th>
          <th>Payment Alloted</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </table>
      <div id="tenderPopup"></div>
    </div>

    <div
      id="myBidsList"
      style="margin-top: 20px; display: none"
      class="dashboard-container"
    >
      <h3 class="pagetitle" style="text-align: center; width: 100%">
        Requests Accepted by Me
      </h3>
      <table id="myBids" class="table table-hover">
        <tr style="text-align: center">
          <th>Id</th>
          <th>Request Title</th>
          <th>Payment Alloted</th>
          <th>Amount Accepted</th>
          <th>Status</th>
        </tr>
      </table>
    </div>
    <br />
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    language="javascript"
    src="truffle-contract.js"
  ></script>
  <script
    language="javascript"
    type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="loadEthereum.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="commonDashboard.js"
  ></script>
</html>
