<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Confirm your type</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div>
      <header class="navbar">
        <div class="logo-container">
          <img
            src="https://user-images.githubusercontent.com/75155230/162634488-a86df851-81ab-41d4-9c15-d1155683a935.png"
            alt="TrackMine Logo"
            class="logo"
          />
          <h2 class="myheader">TrackMine</h2>
          <nav>
            <ul>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="my-container type-container">
        <span style="display: none"
          ><b>Username: </b
          ><font id="username" size="3"><%=currentUser.username%></font></span
        >
        <span
          ><b>Name: </b
          ><font id="name" size="3"><%=currentUser.name%></font></span
        >
        <span><b>Address: </b><font id="account" size="3"></font></span>

        <font size="1" color="green" style="font-size: 14px; color: #007bff">
          * Select user type from below five options. Remember once selected
          can't be changed.
        </font>

        <hr />

        <div class="roles-list" id="content">
          <button
            style="width: 180px"
            onclick="App.createActor('Electricity Supplier');"
          >
            Electricity Supplier
          </button>
          <button
            class="w3-button w3-blue"
            style="width: 180px"
            onclick="App.createActor('Thermal Power Plant');"
          >
            Thermal Power Plant
          </button>
          <button style="width: 180px" onclick="App.createActor('Coal Miner');">
            Coal Miner
          </button>
          <button
            class="w3-button w3-blue"
            style="width: 180px"
            onclick="App.createActor('Transporter');"
          >
            Transporter
          </button>
          <button
            style="width: 180px"
            onclick="App.createActor('Regulatory Authority');"
          >
            Regulatory Authority
          </button>
        </div>

        <center>
          <div
            id="loading"
            style="margin-top: 10px; display: none; margin-bottom: 5px"
          ></div>
        </center>
      </div>

      <!-- <div style="margin-top: 20px; display: none" class="container card">
        <table id="uploader" border="1">
          <center>
            <h6><b>Uploaders</b></h6>
          </center>
          <hr style="margin-top: -5px; margin-bottom: -1px" />
          <tr style="text-align: center">
            <td>Id</td>
            <td>Username</td>
            <td>Address</td>
          </tr>
        </table>
      </div> -->

      <!-- <div style="margin-top: 20px; display: none" class="container card">
        <table id="bidder" border="1">
          <center>
            <h6><b>Bidders</b></h6>
          </center>
          <hr style="margin-top: -5px; margin-bottom: -1px" />
          <tr style="text-align: center">
            <td>Id</td>
            <td>Username</td>
            <td>Address</td>
          </tr>
        </table>
      </div> -->
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script
    type="text/javascript"
    language="javascript"
    src="truffle-contract.js"
  ></script>
  <script
    language="javascript"
    type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="loadEthereum.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="confirmType.js"
  ></script>
</html>
