* {
  font-family: Georgia, serif;
}

body {
  font-family: Georgia, serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  padding: 5px 0;
  text-align: center;
  color: white;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.my-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dashboard-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.myheader {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

.pagetitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

label {
  margin-top: -15px;
  margin-bottom: 5px;
  color: #555;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #1563b7;
}

p {
  text-align: center;
  color: #555;
}

.link,
a {
  color: #007bff;
  cursor: pointer;
}

.link:hover,
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.type-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.roles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  margin-bottom: 10px;
}

.actions-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-size: 16px;
}

.status {
  font-weight: bold;
}

.status.pending {
  color: orange;
}

.status.accepted {
  color: blue;
}

.status.approved {
  color: green;
}

.abc {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #333333cc;
  overflow: auto;
}

.x {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#loading {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
